<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
	<title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
	<%- include('navbar') %>
        <h1><%= title %></h1>
        <% for (var i = 0; i < cat_list.length; i++ ) { %>
            <p>
                <a href=<%= cat_list[i].url %>><%= cat_list[i].name %></a>
            </p>
        <% } %>
	<% if (locals.currentUser) { %>
        <p><a href='category/create'>Add new category</a></p>
	<% } %>
    </body>
</html>    
