<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
	<title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
	<%- include('navbar') %>
        <h1>Products relating to: <%= category.name %></h1>
	<% if (products.length > 0 ) { %>
	    <div class='products'>
            <% for (var i = 0; i < products.length; i++ ) { %>
	        <div class='product'>
	        <img src='/products/<%= products[i]._id%>/picture'>
                <p>
                    <a href=<%= products[i].url %>><%= products[i].name %></a>
                </p>
		<p>$<%= (products[i].price / 100).toFixed(2) %></p>
		</div>
            <% } %>
	    </div>
	<% } else { %>
	    <p>No products available for this category</p>
	<% } %>
	<hr>
	<p><a href='<%=category.url + '/update'%>'>Update Category</a></p>
	<p><a href='<%=category.url + '/delete'%>'>Delete Category</a></p>
    </body>
</html>
