<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
    </head>
    <body>
        <%- include('navbar') %>
        <h1><%= title %></h1>
	<p><%= product.name %></p>
	<form action='' method='POST' enctype='multipart/form-data'>
            <input type='text' name='name'
		placeholder='Name' required='true'
		value='<%= locals.product ? product.name : '' %>'
	    ></input>

	    <textarea name='desc' placeholder='Description' required='true'>
		<%= locals.product ? product.description : '' %>
            </textarea>

	    <input type='number' name='price' 
		placeholder='Price' required='true'
		value=<%= locals.product ? product.price : '' %>
	    ></input>

	    <input type='number' name='stock' 
		placeholder='Stock' required='true'
		value=<%= locals.product ? product.stock : '' %>
	    ></input>

	    <input type='file' id='photo' name='img' accept="image/*"></input>
	    
	    <p>Categories</p>
            <% for (var i = 0; i < categories.length; i++ ) { %>
	    <div>
	    <% if (categories[i].checked === 'true') { %>
	    <input type='checkbox' id=<%= categories[i]._id %> name='category' 
	    value=<%= categories[i]._id %> checked=<%= categories[i].checked%>>
	    <% } else { %>
            <input type='checkbox' id=<%= categories[i]._id %> name='category'
            value=<%= categories[i]._id %>>
	    <% } %>
		    <label for=<%= categories[i]._id %>>
			<%= categories[i].name %>
		    </label><br>
	    </div>
            <% } %>
	    <input type='submit' value='Add Product'></input>
	</form>
    </body>
</html>

