<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
    </head>
    <body>
	<%- include('navbar') %>
        <h1><%= title %></h1>

	<img src='/products/<%= product._id%>/picture' width='25%'
	height = '25%' >
        <p>Name: <%= product.name %></p>
	<p>Description: <%= product.description %></p>
	<p>Price: $<%= (product.price / 100).toFixed(2) %></p>
	<p>Stock: <%= product.stock %></p>
        <hr>

	<h3>Categories:</h3>
	<% if (product.categories.length > 0) { %>
            <% for (var i = 0; i < product.categories.length; i++) { %>
	        <p>
		    <a href= <%= product.categories[i].url%>>
		        <%= product.categories[i].name %>
		    </a>
		</p>
	    <% } %>
	<% } %>
        <hr>

	<h3><a href='/products/<%= product._id%>/reviews'>Reviews:</a></h3>
	<% if (reviews.length > 0) { %>
	    <% for (var i = 0; i < reviews.length; i++) { %>
	        <p>Submitted by: <%= reviews[i].name %></p>
		<p>Rating: <%= reviews[i].rating %></p>
		<p>Details: <%= reviews[i].details %></p>
	    <% } %>
	<% } %>
    </body>
</html> 
