<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
    </head>
    <body>
	<%- include('navbar') %> 
        <h1><%= title %></h1>
	<% for (var i = 0; i < prod_list.length; i++ ) { %>
	    <div>
            <img src='/products/<%= prod_list[i]._id%>/picture'
	    width= '25%', height='25%'>
            <p>
	        <a href=<%= prod_list[i].url %>><%= prod_list[i].name %></a>
	    </p>
	    <p>$<%= (prod_list[i].price / 100).toFixed(2) %></p>
	    </div>
	<% } %>
	<p><a href='products/create'>Add new product</a></p>
    </body>
</html>
