<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
	<title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- include('navbar') %>
        <h1><%= title %></h1>
	<h3>
	    <a href='/products/<%= product%>/reviews'>
		 Back to all reviews:
	    </a>
	</h3>
	<div class='review'>
	    <p>Author: <%= review.name %></p>
	    <p>Rating: <%= review.rating %></p>
	    <p>Details: <%= review.details %></p>
	</div>
	<hr>
	<p>
	<a href=<%= review.url + '/update' %>>
	     Update review
	</a>

	</p>
	<p>
	<a href=<%= review.url + '/delete' %>>
	    Delete review
	</a>
	</p>
    </body>
</html>

