<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
	<title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- include('navbar') %>
        <h1><%= title %></h1>
        <form method='POST' action=''>
            <input type='text' name='name' 
                required='true' placeholder='Your name/nickname'
	        value='<%= locals.review ? review.name : '' %>'
            >
	    <input type='number' name='rating'
		required='true' placeholder='Rating(1-5)'
	        value='<%= locals.review ? review.rating : '' %>'
	    >
	    <textarea name='details' placeholder='Details'
		required='true' rows='8' cols='30'
	    >
                <%= locals.review ? review.details : '' %>
	    </textarea> 
            <input type='submit' value='Add Review'></input>
        </form>
    </body>
</html>

