<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
    </head>
    <body>
        <%- include('navbar') %>
        <h1><%= title %></h1>
	<h3>
	    <a href='/products/<%= product%>/reviews'>
		 Back to all reviews:
	    </a>
	</h3>
	<p>Author: <%= review.name %></p>
	<p>Rating: <%= review.rating %></p>
	<p>Details: <%= review.details %></p>
	<hr>
	<p>
	<a href=<%= review.url + '/update' %>>
	     Update review
	</a>

	</p>
	<p>
	<a href=<%= review.url + '/delete' %>>
	    Delete review
	</a>
	</p>
    </body>
</html>

