<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'UTF-8'></meta>
    </head>
    <body>
        <%- include('navbar') %>
        <h1><%= title %></h1>
	<p>Author: <%= review.name %></p>
	<p>Rating: <%= review.rating %></p>
	<p>Details: <%= review.details %></p>
	<hr>
	<p>
	<a href='/products/<%=review.product._id%>/reviews/review._id/update'>
	     Update review
	</a>

	</p>
	<p>
	<a href='/products/<%=review.product._id%>/reviews/review._id/delete'>
	    Delete review
	</a>
	</p>
    </body>
</html>

